<!DOCTYPE html>
<html>
  <head>
    <title>Ice Cream!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Ice Cream Shop</h1>
    <a href="products/index">Product Index</a>
    <a href="products/new">Add New Product</a>
    <%= yield %>
  </body>
</html>
